
.contentPage{
    display: flex;
    flex-direction: column;
    gap: 35px;
    align-items: center;
    position: relative;
}

header {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    background-color: lightblue;
    width: 125%;
    max-width: 400px;
    margin-top: -50px;
    margin-left: 40px;
    margin-right: 40px;

}

.logo {
    height: 40px;
}

.img {
    border: 1px solid black;
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
   
}

.bubble {
    display: flex;
    flex-direction: row;
    gap: 20px;
}