.loginPage{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;

}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.name {
    font-size: 24px;
    height: 35px;
    min-width: 220px;
    border-radius: 6px;
}

.checkboxStyle {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

label {
    font-size: 14px;
}