.registerPage{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.name {
    font-size: 24px;
    height: 35px;
    min-width: 220px;
    border-radius: 6px;
}

.checkboxStyle {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

label {
    font-size: 14px;
}

.error {
    display: none;
    width: 70%;
    padding: 10px;
    font-size: 14px;
    border: 0.1rem solid #f00;
    background-color: #fcc;
}

.error.show {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.registerSucsesful {
    display: none;
    width: 70%;
    padding: 10px;
    font-size: 14px;
    border: 0.1rem solid green;
    background-color: rgb(126, 221, 114);
}

.registerSucsesful.showw {
    display: flex;
    flex-direction: column;
    gap: 5px;
}